.type {
    padding: 15px 15px 15px 0px;
}

.example-header {
    margin-bottom: 5px;
}

.properties {
    padding: 2px 5px;
    border: 1px solid #e8e9ea;
    background-color: #f9fafb;
    border-radius: 2px;
}

.config {
    width: 300px;
    margin-top: 15px;
    border: 1px solid #e8e9ea;
    background-color: #f9fafb;
    border-radius: 2px;
}

.config p {
    margin: 0;
}