.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  grid-area: footer;
  background-color: #f7fbfb;
  box-shadow: 0 -5px 5px -5px rgba(14, 30, 37, 0.12);
}

.copyright,
.signature {
  color: #636d72;
}
